.skill-bar {
  width: 50%;
  height: 1.5rem;
  background-color: #6d5a5a61;
  margin: 1.5rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-bar span {
  height: 100%;
  width: 50%;
  background-color: aqua;
  position: relative;
  overflow: hidden;
}
